p{
    color: #0B2027;
    font-family: 'Anton', sans-serif;
    font-family: 'Lora', serif;
}

table:hover {
    color: #F4D06F;
    
}
table, button {
    font-family: 'Anton', sans-serif;
    font-family: 'Lora', serif;
}
form {
    font-family: 'Anton', sans-serif;
    font-family: 'Lora', serif;
}
h1, h2
{
    font-family: 'Anton', sans-serif;
}
span{background-color:#FFE8D6; 
}
.white{
    color:#FFE8D6;
}
.orange{
    color:#CB997E;
}
.green{
    color:#0B2027;
}
.purple{
    color:#6B705C;
}
button{
    color:#fff8f0;
    background-color: #6B705C;
}
button:hover {
    color:#CB997E
}